body{
  display: flex;
  justify-content: center;
  height: calc(100vh - 3rem)
}

div.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
  width: 220px;
  height: 240px;
  padding: 2px;
  background: rgb(20, 20, 20);
}

div#tela{
  background: rgba(200, 200, 200, .2);
  color: lightgray;
  border: 1px solid gray;
  width: 90%;
  height: 20px;
  margin: 5px;
  text-align: end;
}

div.botoes{
  display: flex;
  justify-content: center;
  top: 35px;
}

div.operadores{
  display: flex;
  flex-direction: column;
}

input{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(50, 50, 50);
  color: white;
  margin-bottom: 4px;
}

input:hover{
  background: rgb(60, 60, 60);
}
